*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    font-family: "Playwrite CU", cursive;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.7%;
    color: black
}

header > h1{
    font-size: 300%;  
    margin: 0 auto; 
}


nav{
    font-size: 40%;
    margin: 0 auto; 
    height: 50px;
    padding: 10px;    
    text-align: center;    
}

nav > a{
    color:darkslategray;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10px;
    padding: 5px;
}
nav > a:hover{
    text-decoration: underline;
}

nav > a.cv{
    background:rgb(4, 155, 243);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color:#FFF
}

article{
    width: 85%;
    margin: 0 auto;
    line-height: 1.9;
    padding: 10px;
    text-align: center;
}

article >h1 >p{
    font-size: 120%;
}

footer{
    border: 1px solid;
}